body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

.sport-option {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s, transform .5s ease-in-out;
}

.sport-option:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.5);
}

.sport-image {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 10px auto;
}