{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/welcome_style.css' %}">
    <title>Success</title>
</head>
<body>
    <header>User successfully added!</header>
    <div class="container mt-5">
        <div class="login-form">
            <form action="{% url 'sport_app:login' %}">
                <button type="submit" class="btn btn-primary btn-login">Login</button>
            </form>
        </div>
    </div>
</body>
</html>